@mixin nav-btn{
    background-color: $naranja;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: $blanco;
}

@mixin center-content {
    position: absolute;
    top:20%;
    left: 10%;
    .logo-2{
        opacity: 1;
        width: 5rem;
        margin: 0 0 1rem 0;
    }
    span{
        font-size: 4rem;
        font-weight: bold;
    }
    span:nth-child(2){
        color: white;
        
    }
    span:nth-child(4){
        color: $naranja;
    }
}
@mixin img-overlay{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 10%;
    object-fit: cover;
    position: relative;
}
@mixin main-content {

    width: 100%;
}
@mixin content-bg-img {
    height: 90%;
    width: 100%;
    background-color: black;
}
@mixin footer-block{
    ul{
        .link-item-master{
            margin: 0 0 2rem 0;
            font-weight: bold;
            color: #353535;
        }
        li{
            list-style: none;
            margin: 0 0 1rem 0;
            text-align: left;
            a{
                color: $gray;
                text-decoration: none;
                display: block;
            }
        }
    }
}
@mixin vertical-line {
    width: 1px;
    height: 9rem;
    background-color: $gray;
    border-radius: 10px;
}
@mixin link-item-ch{
    list-style: none;
    a{
       padding: 0.5rem 1rem;
       display: flex;
       justify-content: space-between;
       align-items: center;
       text-decoration: none;
       color: black;
       span{
           font-size: 0.9rem;
           font-weight: lighter;
           
       }
       img{
           opacity: 1;
           border-radius: 5px;
           width: 1.5rem;
           height: 1.5rem;
           object-fit: cover;
        }
    }
    a:hover{
        background-color: #eeeeee;
    }
}
@mixin link-ch{
    position: relative;
    width: 35.4rem;
    height: 12rem;
    background-color: $blanco;
    box-shadow: 1px 1px 10px #00000042;
    border-radius: 5px;
    overflow: auto;

}
@mixin search-box {
    form{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 0 0.5rem 0;
        input{
            margin: 0.5rem 0 0 0 ;
            width: 100%;
            border: 0;
            outline: none;
            padding: 1rem 2.8rem 1rem 1rem;
            border-radius: 0.5rem 0 0 0.5rem;
            font-family: 'Raleway', sans-serif;
        }
        button{
            margin: 0;
            padding: 0;
            height: 3rem;
            width: 3rem;
            color: $gray;
            display: block;
            transform: translate(-18px,4px);
            background-color: $blanco;
            outline: none;
            border: 0;
            cursor: pointer;
            border-radius: 0 0.5rem 0.5rem 0;
        }
    }
}
@mixin nav-basic{
    height: 10%;
    width: 90%;
    max-width: 1800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    .logo{
        height: 100%;
        align-items: center;
        display: flex;
        .logo{
            img{
                width:5rem;
            }
        }
    }
    .engine{
        height: 100%;
    }
    .links{
        align-items: center;
        display: flex;
        gap: 1rem;
        .link-item{
            list-style: none;
            a{
                @include nav-btn;
            }
            a:hover{
                box-shadow: 1px 1px 10px #4b4b4b7c;
            }
        }
    }
}
@mixin nav-basic-character-page{
    height: 10%;
    width: 90%;
    max-width: 1800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        img{
            width:5rem;
        }
    }
    .links{
        display: flex;
        gap: 1rem;
        .link-item{
            list-style: none;
            a{
                @include nav-btn;
            }
            a:hover{
                box-shadow: 1px 1px 10px #4b4b4b7c;
            }
        }
    }
}