@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@700&family=Quicksand:wght@300;400;500;535;600&family=Raleway:ital,wght@0,500;1,400&display=swap');
@import 'modules/variables/variables';
@import 'modules/mixins/mixins';

*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: content-box;
    font-family: 'Raleway', sans-serif;
}

.container{
    nav{
        @include nav-basic();

        .search-box{
            @include search-box();
        }
        .result-box{
            .link-ch{
                @include link-ch();
               .link-item-ch{
                @include link-item-ch();
               }

            }
            .link-ch::-webkit-scrollbar{
                width: 7px;
                padding: 0.2rem;
            }
            .link-ch::-webkit-scrollbar-thumb{
                background-color: $gray;
                border-radius: 1rem;
            }
        }
    }
    .main-content{
        @include main-content();
        .big-card-container{
            height: 40rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .big-card{
                display: flex;
                gap: 3rem;
                .big-card-img{
                    img{
                        width: 20rem;
                        height: 26rem;
                        object-fit: cover;
                        border-radius: 1rem;
                        box-shadow: 1px 1px 10px #00000042;
                    }
                }
                .big-card-items{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    .disableFriend{
                        display: none;
                    }
                    
                    .item-group:first-child{
                        span{
                            font-weight: bold;
                        }
                        h1{
                            margin: 1rem 0 0 0;
                            font-weight: bold;
                            font-size: 4rem;
                            color: $naranja
                        }
                    }
                    .item-group:nth-child(2){
                        span{
                            font-weight: bold;
                        }
                        a{
                            margin: 1rem 0 0 0;
                            display: flex;
                            background-color: $gray;
                            padding: 1rem;
                            font-weight: bold;
                            background-color: $naranja;
                            color: $blanco;
                            text-decoration: none;
                            justify-content: center;
                            border-radius: 10px;
                        }
                    }
                    .item-group:last-child{
                        span{
                            font-weight: bold;
                        }
                        p{
                            margin: 1rem 0 0 0;
                            display: flex;
                            background-color: $gray;
                            padding: 1rem;
                            font-weight: bold;
                            color: $blanco;
                            justify-content: center;
                            border-radius: 10px;
                            text-decoration: none
                        }
                    }
                }
            }
        }
        .content-bg-img{
            @include content-bg-img();
            img{
                @include img-overlay();
            }
            .center-content{
                @include center-content();
                .search{
                    .search-box{
                        @include search-box();
                    }
                    .result-box{
                        .link-ch{
                            @include link-ch();
                           .link-item-ch{
                            @include link-item-ch();
                           }

                        }
                        .link-ch::-webkit-scrollbar{
                            width: 7px;
                            padding: 0.2rem;
                        }
                        .link-ch::-webkit-scrollbar-thumb{
                            background-color: $gray;
                            border-radius: 1rem;
                        }
                    }
                }
            }
        }
        .similar-characters{
            display: flex;
            gap: 3rem;

            justify-content: center;
            flex-direction: column;

            margin: 0 0 3rem 0;
            p{
                text-align: center;
                font-size: 3rem;
            }
            .similar-card-container{
                width: 70%;
                max-width: 1800px;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(4,auto);
                gap: 2rem;
                align-items: center;
                .similar-card{
                    transition: 0.2s ease-in-out;
                    background-color: #FFE5E9;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    gap: 2rem;
                    border-radius: 1rem;
                    text-decoration: none;
                    color: #303030; /*blackmatte*/
                    font-weight: bold;
                    font-size: 1.5rem;
                    .similar-card-img{
                        img{
                            width: 13rem;
                            height: 13rem;
                            object-fit: cover;
                            border-radius: 50rem;
                        }
                    }
  
                }
                .similar-card:hover{
                    box-shadow: 1px 1px 20px #adadad;
                }
            }
        }

    }
    .footer{
        padding: 5rem 0;
        width: 90%;
        max-width: 1800px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        div:first-child{
            @include footer-block();
        }
        div:nth-child(2){
            @include vertical-line();
        }
        
        div:nth-child(3){
            @include footer-block();
        }
        div:nth-child(4){
            @include vertical-line();
        }
        div:last-child{
            @include footer-block();
        }
    }
}

@media screen and (max-width:887px){
    .main-content{
        .content-bg-img{
            .center-content{

                span{

                    font-size: 2px;
                    font-weight: bold;
                }
                span:nth-child(2){
                    color: white;
                    
                }
                span:nth-child(4){
                    color: $naranja;
                }
            }   
        }
    }
}