@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@700&family=Quicksand:wght@300;400;500;535;600&family=Raleway:ital,wght@0,500;1,400&display=swap");
/*--Colores--*/
* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: 'Raleway', sans-serif;
}

.container nav {
  height: 10%;
  width: 90%;
  max-width: 1800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.container nav .logo {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container nav .logo .logo img {
  width: 5rem;
}

.container nav .engine {
  height: 100%;
}

.container nav .links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.container nav .links .link-item {
  list-style: none;
}

.container nav .links .link-item a {
  background-color: #ff9900;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  color: #FFFFFF;
}

.container nav .links .link-item a:hover {
  -webkit-box-shadow: 1px 1px 10px #4b4b4b7c;
          box-shadow: 1px 1px 10px #4b4b4b7c;
}

.container nav .search-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 0.5rem 0;
}

.container nav .search-box form input {
  margin: 0.5rem 0 0 0;
  width: 100%;
  border: 0;
  outline: none;
  padding: 1rem 2.8rem 1rem 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  font-family: 'Raleway', sans-serif;
}

.container nav .search-box form button {
  margin: 0;
  padding: 0;
  height: 3rem;
  width: 3rem;
  color: gray;
  display: block;
  -webkit-transform: translate(-18px, 4px);
          transform: translate(-18px, 4px);
  background-color: #FFFFFF;
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 0 0.5rem 0.5rem 0;
}

.container nav .result-box .link-ch {
  position: relative;
  width: 35.4rem;
  height: 12rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 10px #00000042;
          box-shadow: 1px 1px 10px #00000042;
  border-radius: 5px;
  overflow: auto;
}

.container nav .result-box .link-ch .link-item-ch {
  list-style: none;
}

.container nav .result-box .link-ch .link-item-ch a {
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

.container nav .result-box .link-ch .link-item-ch a span {
  font-size: 0.9rem;
  font-weight: lighter;
}

.container nav .result-box .link-ch .link-item-ch a img {
  opacity: 1;
  border-radius: 5px;
  width: 1.5rem;
  height: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.container nav .result-box .link-ch .link-item-ch a:hover {
  background-color: #eeeeee;
}

.container nav .result-box .link-ch::-webkit-scrollbar {
  width: 7px;
  padding: 0.2rem;
}

.container nav .result-box .link-ch::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 1rem;
}

.container .main-content {
  width: 100%;
}

.container .main-content .big-card-container {
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .main-content .big-card-container .big-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.container .main-content .big-card-container .big-card .big-card-img img {
  width: 20rem;
  height: 26rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 1px 10px #00000042;
          box-shadow: 1px 1px 10px #00000042;
}

.container .main-content .big-card-container .big-card .big-card-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main-content .big-card-container .big-card .big-card-items .disableFriend {
  display: none;
}

.container .main-content .big-card-container .big-card .big-card-items .item-group:first-child span {
  font-weight: bold;
}

.container .main-content .big-card-container .big-card .big-card-items .item-group:first-child h1 {
  margin: 1rem 0 0 0;
  font-weight: bold;
  font-size: 4rem;
  color: #ff9900;
}

.container .main-content .big-card-container .big-card .big-card-items .item-group:nth-child(2) span {
  font-weight: bold;
}

.container .main-content .big-card-container .big-card .big-card-items .item-group:nth-child(2) a {
  margin: 1rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: gray;
  padding: 1rem;
  font-weight: bold;
  background-color: #ff9900;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.container .main-content .big-card-container .big-card .big-card-items .item-group:last-child span {
  font-weight: bold;
}

.container .main-content .big-card-container .big-card .big-card-items .item-group:last-child p {
  margin: 1rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: gray;
  padding: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  text-decoration: none;
}

.container .main-content .content-bg-img {
  height: 90%;
  width: 100%;
  background-color: black;
}

.container .main-content .content-bg-img img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 10%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.container .main-content .content-bg-img .center-content {
  position: absolute;
  top: 20%;
  left: 10%;
}

.container .main-content .content-bg-img .center-content .logo-2 {
  opacity: 1;
  width: 5rem;
  margin: 0 0 1rem 0;
}

.container .main-content .content-bg-img .center-content span {
  font-size: 4rem;
  font-weight: bold;
}

.container .main-content .content-bg-img .center-content span:nth-child(2) {
  color: white;
}

.container .main-content .content-bg-img .center-content span:nth-child(4) {
  color: #ff9900;
}

.container .main-content .content-bg-img .center-content .search .search-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 0.5rem 0;
}

.container .main-content .content-bg-img .center-content .search .search-box form input {
  margin: 0.5rem 0 0 0;
  width: 100%;
  border: 0;
  outline: none;
  padding: 1rem 2.8rem 1rem 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  font-family: 'Raleway', sans-serif;
}

.container .main-content .content-bg-img .center-content .search .search-box form button {
  margin: 0;
  padding: 0;
  height: 3rem;
  width: 3rem;
  color: gray;
  display: block;
  -webkit-transform: translate(-18px, 4px);
          transform: translate(-18px, 4px);
  background-color: #FFFFFF;
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 0 0.5rem 0.5rem 0;
}

.container .main-content .content-bg-img .center-content .search .result-box .link-ch {
  position: relative;
  width: 35.4rem;
  height: 12rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 10px #00000042;
          box-shadow: 1px 1px 10px #00000042;
  border-radius: 5px;
  overflow: auto;
}

.container .main-content .content-bg-img .center-content .search .result-box .link-ch .link-item-ch {
  list-style: none;
}

.container .main-content .content-bg-img .center-content .search .result-box .link-ch .link-item-ch a {
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

.container .main-content .content-bg-img .center-content .search .result-box .link-ch .link-item-ch a span {
  font-size: 0.9rem;
  font-weight: lighter;
}

.container .main-content .content-bg-img .center-content .search .result-box .link-ch .link-item-ch a img {
  opacity: 1;
  border-radius: 5px;
  width: 1.5rem;
  height: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .main-content .content-bg-img .center-content .search .result-box .link-ch .link-item-ch a:hover {
  background-color: #eeeeee;
}

.container .main-content .content-bg-img .center-content .search .result-box .link-ch::-webkit-scrollbar {
  width: 7px;
  padding: 0.2rem;
}

.container .main-content .content-bg-img .center-content .search .result-box .link-ch::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 1rem;
}

.container .main-content .similar-characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 3rem 0;
}

.container .main-content .similar-characters p {
  text-align: center;
  font-size: 3rem;
}

.container .main-content .similar-characters .similar-card-container {
  width: 70%;
  max-width: 1800px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-content .similar-characters .similar-card-container .similar-card {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #FFE5E9;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  color: #303030;
  /*blackmatte*/
  font-weight: bold;
  font-size: 1.5rem;
}

.container .main-content .similar-characters .similar-card-container .similar-card .similar-card-img img {
  width: 13rem;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50rem;
}

.container .main-content .similar-characters .similar-card-container .similar-card:hover {
  -webkit-box-shadow: 1px 1px 20px #adadad;
          box-shadow: 1px 1px 20px #adadad;
}

.container .footer {
  padding: 5rem 0;
  width: 90%;
  max-width: 1800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .footer div:first-child ul .link-item-master {
  margin: 0 0 2rem 0;
  font-weight: bold;
  color: #353535;
}

.container .footer div:first-child ul li {
  list-style: none;
  margin: 0 0 1rem 0;
  text-align: left;
}

.container .footer div:first-child ul li a {
  color: gray;
  text-decoration: none;
  display: block;
}

.container .footer div:nth-child(2) {
  width: 1px;
  height: 9rem;
  background-color: gray;
  border-radius: 10px;
}

.container .footer div:nth-child(3) ul .link-item-master {
  margin: 0 0 2rem 0;
  font-weight: bold;
  color: #353535;
}

.container .footer div:nth-child(3) ul li {
  list-style: none;
  margin: 0 0 1rem 0;
  text-align: left;
}

.container .footer div:nth-child(3) ul li a {
  color: gray;
  text-decoration: none;
  display: block;
}

.container .footer div:nth-child(4) {
  width: 1px;
  height: 9rem;
  background-color: gray;
  border-radius: 10px;
}

.container .footer div:last-child ul .link-item-master {
  margin: 0 0 2rem 0;
  font-weight: bold;
  color: #353535;
}

.container .footer div:last-child ul li {
  list-style: none;
  margin: 0 0 1rem 0;
  text-align: left;
}

.container .footer div:last-child ul li a {
  color: gray;
  text-decoration: none;
  display: block;
}

@media screen and (max-width: 887px) {
  .main-content .content-bg-img .center-content span {
    font-size: 2px;
    font-weight: bold;
  }
  .main-content .content-bg-img .center-content span:nth-child(2) {
    color: white;
  }
  .main-content .content-bg-img .center-content span:nth-child(4) {
    color: #ff9900;
  }
}
/*# sourceMappingURL=main.css.map */